body {
  width: 10em;
  height: auto;
}

#printReviewsButton {
  width: 8em;
  height: 8em;
  margin: auto;
  border-radius: 4px;
  text-align: center;
}

.activeButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: white;
  border: 0.2em solid #33F6FF;
  cursor: pointer;
}

.activeButton:hover {
  background-color: #33F6FF;
  color: white;
}

.inactiveButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: white;
  border: 0.2em solid #FF0000;
  cursor: pointer;
}

.inactiveButton:hover {
  background-color: #FF0000;
  color: white;
}
